---
layout: default
---

<section class="intro">
  <h1>Will Shane Healy</h1>

  <p class="intro-text">
    Hi, I'm Will. I'm a 24 year old Machine Learning Engineer living in Manhattan. I previously 
    studied AI and Math at Stanford. Before that, I was an aspiring professional freestyle snowboarder 
    competing on the world cup circuit. I made this website to share my writing. I was inspired to do 
    this by my dad, who comfortably into his retirement got bored one summer and decided 
    to write one of the most comprehensive and intuitive pieces of option pricing literature I've ever read. He focuses on building the theory from first principles,
    emphasizing the intuition behind concepts rather than merely presenting equations and proving theorems.
    I hope to present concepts across a range of topics here in a similar way: one which deeply 
    engrains intuitions and also requires little prerequisite knowledge to understand. Luckily, I've found that these two goals often go hand in hand.
I hope you enjoy. 
    Feel free to reach out at healy.ws1@gmail.com.

  </p>

  <div class="intro-images">
    <img src="/assets/images/intro4.jpg" alt="Hiking with friends in Yosemite">
    <img src="/assets/images/intro2.jpg" alt="Snowboarding">
    <img src="/assets/images/intro3.jpg" alt="At a rugby stadium">
    <img src="/assets/images/intro1.jpg" alt="Camping at sunset">
  </div>
</section>

<section class="writing">
  <div class="tabs">
    <button class="tab active" onclick="showSection('technical', this)">
      Technical
    </button>

    <button class="tab" onclick="showSection('nontechnical', this)">
      Non-Technical
    </button>
  </div>

  <div id="technical" class="essay-section active-section">
    {% for post in site.posts %}
      {% if post.category == "technical" %}
        <a href="{{ post.url }}" class="essay-card">
          <img src="{{ post.image }}" alt="">
          <div class="essay-info">
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <div id="nontechnical" class="essay-section">
    {% for post in site.posts %}
      {% if post.category == "nontechnical" %}
        <a href="{{ post.url }}" class="essay-card">
          <img src="{{ post.image }}" alt="">
          <div class="essay-info">
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

<script>
function showSection(section, button) {
  document
    .querySelectorAll('.essay-section')
    .forEach(el => el.classList.remove('active-section'));

  document
    .querySelectorAll('.tab')
    .forEach(el => el.classList.remove('active'));

  document
    .getElementById(section)
    .classList.add('active-section');

  button.classList.add('active');
}
</script>
